.card {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.is-hidden {
        opacity: .5;
    }

    &-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 40px 20px;

        @include media(md) {
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }
    }
    
    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        &-info {
            display: flex;
            align-items: center;
    
            .badge {
                margin-right: 8px;
            }
        }
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        height: 100%;
    }
}