.form {
    
    &-group {
        width: 100%;
        position: relative;

        &.is-invalid .form-control {
            border-color: $color-error;
        }

        .invalid-tooltip {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            color: $color-error;
            white-space: nowrap;
            border: 1px solid $color-error;
            border-radius: 4px;
            padding: 2px 4px;
            background: $color-white;
            z-index: 1;
        }
    }

    &-row {
        display: flex;
    }

    &-control {
        width: 100%;
        height: 32px;
        border-radius: 3px;
        border: 1px solid $color-grey;
        padding-left: 11px;
        transition: .3s $ease-out;

        &[readonly] {
            background-color: rgba($color-grey, .2);
            cursor: unset;

            &:hover, &:focus {
                border-color: $color-grey;
            }
        }

        &:hover, &:focus {
            border-color: $color-black;
        }
    }
}

// Switch
.custom-control {
    position: relative;
    z-index: 1;
    min-height: 20px;

    &-label {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        color: $color-black;

        &:before {
            display: inline-block;
            flex-shrink: 0;
            margin-right: 10px;
            margin-bottom: auto;
            width: 64px;
            height: 26px;
            border: 2px solid $color-white;
            border-radius: 14px;
            background-color: $color-grey;
            content: '';
            transition: background-color .3s $ease-out;
        }

        &:after {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            content: '';
            opacity: 1;
            transition: transform .3s $ease-out;
            transition-property: transform;
            border-radius: 50%;
            background-color: $color-white;
        }
    }

    :checked ~ .custom-control-label {
        color: $color-success;

        &:after {
            left: 22px;
            transform: translateX(100%);
        }

        &:before {
            background-color: $color-success;
        }
    }

    &-input {
        display: none;
    }
}